$regular-font: 'Roboto-Regular', sans-serif;
$italic-font: 'Roboto-Italic', sans-serif;
$medium-font: 'Roboto-Medium', sans-serif;
$bold-font: 'Roboto-Bold', sans-serif;
$light-font: 'Roboto-Light', sans-serif;
$black-font: 'Roboto-Black', sans-serif;

%flex-between {
	display: flex;
	align-items: center;
	justify-content: space-between;
}