@import "base/normalize";
@import "base/fonts";
@import "base/variables";
@import "base/mixins";

* {
	box-sizing: border-box;
	background: transparent;
}

body {
	font-family: $regular-font;
}
.container {
	max-width: 1200px;
	padding: 0 15px;
	margin: 0 auto;

	@include for-phone {
		max-width: 320px;
	}
	@include for-tablet {
		max-width: 759px;
	}
}

input {
	&:focus {
		outline: none;
	}
}

@import "layouts/header";
@import "layouts/main";



